HOST = 127.0.0.1
PORT = 8000
MONGO_URL = mongodb://127.0.0.1:27017/[your application name]
JWT_SECRET = [jwt secret]
EMAIL_HOST = smtp.gmail.com
EMAIL_USER = [your email address that you want to send email]
EMAIL_PASSWORD = [your password for the EMAIL_USER] {not your gmail password but two way authentication password}